*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-black: hsl(230, 60%, 14%);
  --text-black: hsl(230, 60%, 25%);
  --text-white: hsl(230, 60%, 90%);
  --transition: 200ms;
  --transition-md: 500ms;
  --transition-lg: 1000ms;
  --transition-xl: 2000ms;
  --color: hsl(190, 100%, 50%);
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  height: 100%;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--text-black);
  background: var(--bg-black);
}

.btn {
  --br-radius: 1rem;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 0%, 0.5);
  transition: all var(--transition-lg) ease-out;
  overflow: hidden;
  border-radius: var(--br-radius);
}

.btn:hover {
  box-shadow: 0 0 10px var(--color), 0 0 20px var(--color),
    0 0 40px var(--color), 0 0 80px var(--color);
}

.btn::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 400%;
  background: var(--color);
  transition: width var(--transition-md) ease-out;
  animation: animate var(--transition-xl) linear infinite;
}

.btn:hover::before {
  width: 200%;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: var(--bg-black);
  transition: background var(--transition-md) ease-out;
  border-radius: var(--br-radius);
}

.btn:hover::after {
  background: var(--color);
}

.btn > span {
  position: relative;
  z-index: 1;
  color: var(--text-white);
  text-transform: uppercase;
  opacity: 0.5;
  transition: opacity var(--transition-lg) ease-out;
  letter-spacing: 4px;
}

.btn:hover > span {
  opacity: 1;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
